.main-container {
    margin: 2rem;
}

.clearfix {
    clear: both;
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    display: inline-flex;
    width: 100px;
    margin-top: 1rem;
    margin-left: 1rem;
}

.carousel-inner img {
    width: 100%;
}